.myContentContainer {
    height: 856px;
}


@media screen and (min-width: 834px) and (max-width: 1439px) {
    .myContentContainer {
        height: 1000px;
    }
}


@media screen and (min-width: 340px) and (max-width: 833px) {
    .myContentContainer {
        height: 1196px;
    }
}
