.contentWrapContainer, .contentWrapContainerCollapsed {
    width: 1232px;
    height: 243px;
}


.cardLegacy {
    width: 752px;
    height: 126px;
    border-radius: 2px;
    background-color: #fff;
    margin-left: 24px;
}

.cardLegacy .cardBody {
    width: 704px;
    height: 78px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 24px;
}

.cardLegacy .cardBody h4 {
    color: #262626;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    margin: 0;
    line-height: 26px;
}

.threeBlockContainer {
    width: 752px;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    justify-content: space-between;
}


@media screen and (min-width: 834px) and (max-width: 1439px) {

    .contentWrapContainer {
        width: 626px;
        height: 264px;
    }

    .contentWrapContainerCollapsed {
        width: 770px;
        height: 243px;
    }

    .contentWrapContainer .cardLegacy {
        width: 578px;
        height: 126px;
        border-radius: 2px;
        background-color: #fff;
        margin-left: 24px;
    }

    .contentWrapContainer .cardLegacy .cardBody {
        width: 530px;
        height: 78px;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-left: 24px;
    }

    .contentWrapContainer .threeBlockContainer {
        width: 578px;
        height: 122px;
        display: flex;
        flex-direction: row;
        margin-left: 24px;
        justify-content: space-between;
    }

    .contentWrapContainerCollapsed .cardLegacy .cardBody h4, .contentWrapContainer .cardLegacy .cardBody h4 {
        color: #262626;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
        margin: 0;
        line-height: 26px;
    }

    .contentWrapContainerCollapsed .cardLegacy {
        width: 722px;
        height: 126px;
        border-radius: 2px;
        background-color: #fff;
        margin-left: 24px;
    }

    .contentWrapContainerCollapsed .cardLegacy .cardBody {
        width: 674px;
        height: 78px;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-left: 24px;
    }

    .contentWrapContainerCollapsed .threeBlockContainer {
        width: 722px;
        height: 101px;
        display: flex;
        flex-direction: row;
        margin-left: 24px;
        justify-content: space-between;
    }

}






@media screen and (min-width: 340px) and (max-width: 833px) {

    .contentWrapContainer, .contentWrapContainerCollapsed {
        width: 360px;
        height: 547px;

        display: flex;
        flex-direction: column;

    }

    .contentWrapContainer > div, .contentWrapContainerCollapsed > div {
        margin-left: 16px;

    }

    .contentWrapContainer .cardLegacy, .contentWrapContainerCollapsed .cardLegacy {
        width: 328px;
        height: 188px;

        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .contentWrapContainer .cardLegacy .cardBody, .contentWrapContainerCollapsed .cardLegacy .cardBody {
        width: 296px;
        height: 156px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0px;
    }

    .contentWrapContainer .threeBlockContainer, .contentWrapContainerCollapsed .threeBlockContainer {
        width: 328px;
        height: 319px;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        justify-content: space-between;
    }

    .contentWrapContainer .threeBlockContainer p, .contentWrapContainerCollapsed .threeBlockContainer p {
        text-align: center;
    }

    .contentWrapContainerCollapsed .cardLegacy .cardBody h4, .contentWrapContainer .cardLegacy .cardBody h4 {
        color: #262626;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
        margin: 0;
        line-height: 26px;
    }



}
