.myHeader, .myHeaderCollapsed {
    background-color: #F0F5FF;
    color: #121212;
}

.myHeader p, .myHeaderCollapsed p {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin: 0;
}





@media screen and (min-width: 834px) and (max-width: 1439px) {

    .myHeader {
        width: 626px;
        height: 194px;
    }

    .myHeaderCollapsed {
        width: 770px;
        height: 132px;
    }

}


@media screen and (min-width: 340px) and (max-width: 833px) {

    .myHeader, .myHeaderCollapsed {
        width: 360px;
        height: 166px;
    }

}
