.rightLayoutPart {
    width: 1232px;
}

.rightLayoutPartCollapsed {
    width: 1376px;
}

.mainLayout {
    width: 1440px;
    display: flex;
    margin: auto;


    background-image:  url('./../../components/MyContent/back.png');
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center bottom;

}

.sider {
    width: 208px;
    height: 1024px;
}

.siderCollapsed {
    width: 64px;
    height: 1024px;
}





@media screen and (min-width: 834px) and (max-width: 1439px) {
    .mainLayout {
        width: 834px;
        display: flex;
        margin: auto;
        height: 1194px;

        background-position: center bottom;
    }

    #appContainer .mainLayout .siderCollapsed {
        width: 64px ;
        height: 1194px;
    }

    #appContainer .mainLayout .siderCollapsed .ant-layout-sider-children {
        width: 64px;
        height: 1194px;
    }

    #appContainer .mainLayout.ant-layout.ant-layout-sider.ant-layout-sider-dark.siderCollapsed .ant-layout-sider-children .sider {
        width: 64px;
        height: 1194px;
    }



    .rightLayoutPart {
        width: 626px;
        height: 1194px;
    }
}


@media screen and (min-width: 340px) and (max-width: 833px) {
    .mainLayout {
        width: 360px;
        display: flex;
        margin: auto;
        height: 1362px;

        background-position: center bottom;
    }

    .mainLayout .sider {


        position: fixed;
    }

     .mainLayout .siderCollapsed {
        width: 32px;
        height: 48px;

        align-items: center;

        position: absolute;
    }

    #appContainer .mainLayout .siderCollapsed .ant-layout-sider-children {
        width: 32px;
        height: 48px;
    }

     .sider {
        width: 106px;
        height: 100vh;
    }


    .rightLayoutPart, .rightLayoutPartCollapsed {
        width: 100%;
        height: 100%;
    }

}
