@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import './custom-variables.css';

#root {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;

    font-family: var(--font-family-primary);
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-color);
    box-sizing: border-box;
}
